<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css"
          th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" href="./css/xadmin.css"
          th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"
            th:src="@{/X-admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="./js/xadmin.js"
            th:src="@{/X-admin/js/xadmin.js}"></script>
    <script type="text/javascript" src="./js/cookie.js"
            th:src="@{/X-admin/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <a class="layui-btn layui-btn-small"
       style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">刷新</i></a>
    <div class="demoTable">
        <a href="/student/joinCourseList" class="layui-btn">返回</a>
    </div>
    <table style="display: none;" class="layui-hide"
           id="clazz_course_chapter_table"
           lay-filter="clazz_course_chapter_table">
    </table>
</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download">本节课件</a>
    <a class="layui-btn  layui-btn-xs" lay-event="video">观看视频</a>
    <a class="layui-btn  layui-btn-xs" lay-event="question">章节测验</a>
</script>


<script th:inline="none">
    $(function () {
        layui.use(['form', 'table', 'layer'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;

            //执行一个 table 实例
            table.render({
                elem: '#clazz_course_chapter_table',//绑定table id
                cellMinWidth: 80,
                url: '/studentClazzCourseInfo/get',
                id: 'list',
                even: true,
                toolbar: '#toolbarDemo',

                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                cols: [[
                    {type: "checkbox", fixed: "left", width: 50},
                    {title: '序号', field: 'id', width: 70},
                    {title: '班课名', field: 'clazzCourseName', sort: true},
                    {title: '章节名', sort: true, field: 'clazzChapterName'},
                    {title: '已报名人数', sort: true, field: 'joinNumber'},
                    {title: '报名时间', sort: true, field: 'joinTime'},
                    {title: '操作', toolbar: '#barDemo'}
                ]]
            });


            //监听行工具(里面为表格的 lay-filter属性)
            table.on('tool(clazz_course_chapter_table)', function (obj) {
                var data = obj.data;
                if (obj.event === 'download') {
                    var domResourceExist = data.domResourceExist;
                    var domResourceId = data.domResourceId;
                    var clazzChapterId = data.clazzChapterId;
                    if (domResourceExist === undefined || domResourceExist === false) {
                        layer.msg("该章节没有资源")
                    } else {
                        downPptFile(domResourceId, clazzChapterId);
                    }
                } else if (obj.event === 'video') {
                    var videoResourceId = data.videoResourceId;
                    var videoResourceExist = data.videoResourceExist;
                    var clazzChapterId = data.clazzChapterId;

                    if (videoResourceExist === undefined || videoResourceExist === false) {
                        layer.msg("该章节没有视频")
                    } else {
                        window.location.href = "/watchVideo/" + videoResourceId + "?clazzChapterId=" + clazzChapterId;
                    }
                }else if (obj.event === 'question') {
                    var questionResourceId = data.questionResourceId;
                    var questionResourceExist = data.questionResourceExist;
                    var clazzChapterId = data.clazzChapterId;

                    if (questionResourceExist === undefined || questionResourceExist === false) {
                        layer.msg("该章节没有测验")
                    } else {
                        window.location.href = "/question/" + questionResourceId + "?clazzChapterId=" + clazzChapterId;
                    }
                }
            });
        })
    });
</script>

<script>
    function downPptFile(path, clazzChapterId) {
        var form = $("<form>");
        form.attr("style", "display:none");
        form.attr("target", "");
        form.attr("method", "get");//提交方式为post
        form.attr("action", "/resource/download/" + path + "/" + clazzChapterId);//定义action
        $("body").append(form);
        form.submit();
    }
</script>
</html>