<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加课程</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css"
          th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" href="./css/xadmin.css"
          th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"
            th:src="@{/X-admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="./js/xadmin.js"
            th:src="@{/X-admin/js/xadmin.js}"></script>
    <script type="text/javascript" src="./js/cookie.js"
            th:src="@{/X-admin/js/cookie.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <a class="layui-btn layui-btn-small"
       style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">刷新</i></a>
    <div class="demoTable">
        输入指定班课号/班课名：
        <div class="layui-inline">
            <input class="layui-input" name="clazzCourseNameId" id="demoReload"
                   autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i>
        </button>
    </div>
    <table style="display: none;" class="layui-hide"
           id="clazz_course_student_table"
           lay-filter="clazz_course_student_table">
    </table>
</div>
</body>


<script th:inline="none">
    $(function () {
        layui.use(['form', 'table', 'layer'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;

            //执行一个 table 实例
            table.render({
                elem: '#clazz_course_student_table',//绑定table id
                cellMinWidth: 80,
                url: '/studentClazzCourseInfo/listAllByTeacherId',
                id: 'list',
                even: true,
                toolbar: '#toolbarDemo',

                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                cols: [[
                    {type: "checkbox", fixed: "left", width: 50},
                    {title: '序号', field: 'id',sort: true, width: 70},
                    {title: '班课号', field: 'clazzCourseId', sort: true},
                    {title: '班课名', field: 'clazzCourseName', sort: true},
                    {title: '学生id', sort: true, field: 'studentId'},
                    {title: '加入班课的顺序', sort: true, field: 'sequence'},
                    {title: '添加时间', sort: true, field: 'addTime'},
                    {title: '更新时间', sort: true, field: 'updateTime'}
                ]]
            });


            // 搜索数据
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('list', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            clazzCourseName: demoReload.val(),
                            clazzCourseId: demoReload.val(),
                        }
                    });
                }
            };
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        })
    });
</script>


</html>