<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script charset="utf-8" th:src="@{/X-admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/cookie.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="zq_search">
            班课号：<input id="name" type="text" name="name" placeholder="请输入班课号"
                       autocomplete="off" class="layui-input">
            <button id="search" class="layui-btn" lay-submit=""
                    lay-filter="search"><i class="layui-icon">&#xe615;</i>
            </button>
        </form>
    </div>

    <table style="display: none;" class="layui-hide" id="clazz_course_table"
           lay-filter="clazz_course_table">
    </table>
</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs"
       lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script th:inline="none">
    $(function () {
        layui.use(['form', 'table', 'layer'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;

            //执行一个 table 实例
            table.render({
                elem: '#clazz_course_table',//绑定table id
                cellMinWidth: 80,
                url: '/clazzCourse/listAllByTeacherId',
                id: 'list',
                even: true,
                toolbar: 'default', //开启头工具栏

                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                cols: [[
                    {type: "checkbox", fixed: "left", width: 50},
                    {title: '序号', field: 'id', width: 70, type: 'numbers'},
                    {title: '班课号', field: 'clazzCourseId', sort: true},
                    {title: '班课名', sort: true, field: 'clazzCourseName'},
                    {title: '操作', toolbar: '#barDemo'}
                ]]
            });

            //监听头工具栏事件
            table.on('toolbar(clazz_course_table)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data; //获取选中的数据
                switch (obj.event) {
                    case 'add':
                        layer.msg('添加');
                        break;
                    case 'update':
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else if (data.length > 1) {
                            layer.msg('只能同时编辑一个');
                        } else {
                            layer.alert('编辑 [id]：' + checkStatus.data[0].id);
                        }
                        break;
                    case 'delete':
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else {
                            layer.msg('删除');
                        }
                        break;
                }
            });


            //监听工具条 tool(里面为表格的 lay-filter属性)
            table.on('tool(clazz_course_table)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.id + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.confirm('确定删除序号为 ' + data.id + ' 的课程？', function (index) {
                        $.ajax({
                            url: '/clazzCourse/delete',
                            type: "POST",
                            data: {'id': data.id},
                            dataType: "json",
                            success: function (data) {
                                if (data == null) {
                                    layer.msg("删除失败", {icon: 5});
                                } else {
                                    //删除这一行
                                    obj.del();
                                    layer.close(index);
                                }
                            },
                            error: function () {
                                alert(data);
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    layer.msg('ID：' + data.id + ' 的编辑操作');
                }
            });
        })
    });
</script>


</html>