<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript"
            src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script charset="utf-8" th:src="@{/X-admin/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/cookie.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="开始日" name="start"
                   id="start">
            <input class="layui-input" placeholder="截止日" name="end" id="end">
            <input type="text" name="username" placeholder="课程名"
                   autocomplete="off" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i
                    class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i
                class="layui-icon"></i>批量删除
        </button>
        <button class="layui-btn" onclick="openAddChapter()"><i
                class="layui-icon"></i>添加
        </button>
    </xblock>

    <table style="display: none;" class="layui-hide" id="list"
           lay-filter="demo">
    </table>
</div>
</body>

<script th:inline="none">
    var tableIns;
    $(function () {
        var teacherId = "th:text=*{session.userNickname}";
        alert("motian" + teacherId);
        layui.use(['form', 'table', 'layer'], function () {
            var form = layui.form;
            var table = layui.table;
            var layer = layui.layer;

            //执行一个 table 实例
            tableIns = table.render({
                elem: '#list',//绑定table id
                cellMinWidth: 80,
                url: '/clazzCourse/listAll',
                where: {'Id': $data.Id},
                id: 'list',
                even: true,
                toolbar: 'default',
                totalRow: true,
                page: true,
                limit: 10,
                limits: [10, 20, 50, 100],
                cols: [[
                    {type: "checkbox", fixed: "left", width: 50},
                    {title: '序号', field: 'id', width: 70, type: 'numbers'},
                    {title: '班课号', field: 'clazzCourseId', sort: true},
                    {title: '班课名', sort: true, field: 'clazzName'},
                    {title: '开课时间', sort: true, field: 'clazzCourseStartTime'},
                    {title: '参加的学生人数', sort: true, field: 'studentNumber'},
                    {title: '操作', toolbar: '#barDemo'}
                ]]
            });

            //监听工具条
            table.on('tool(demo)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    layer.msg('ID：' + data.clazzCourseId + ' 的查看操作');
                } else if (obj.event === 'del') {
                    layer.msg('ID：' + data.id + ' 的删除操作');
                    // layer.confirm('真的删除行么', function (index) {
                    //     //obj.del();
                    //     console.log(obj);
                    //     console.log(data);
                    //     //layer.close(index);
                    //     $.ajax({
                    //         url: "/lightnote/informa/informationDelete",
                    //         type: "POST",
                    //         data: {'id': data.id},
                    //         dataType: "json",
                    //         success: function (data) {
                    //             if (data == null) {
                    //                 layer.msg("删除失败", {icon: 5});
                    //             } else {
                    //                 //删除这一行
                    //                 obj.del();
                    //                 //关闭弹框
                    //                 layer.close(index);
                    //                 layer.msg("删除成功", {icon: 6});
                    //                 layer.closeAll();
                    //                 parent.location.reload();
                    //                 Load(); //删除完需要加载数据
                    //             }
                    //         },
                    //         error: function () {
                    //             alert(data);
                    //         }
                    //     });
                    // });
                } else if (obj.event === 'edit') {
                    layer.msg('ID：' + data.id + ' 的编辑操作');
                }
            });
        })
    });
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs"
       lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</html>